body {
  background-color: #e4fbff;
}

h1,
h3 {
  color: #7868e6;
  font-family: sans-serif;
}

hr {
  border-style: none;
  border-color: #b8b5ff;
  border-width: 7px;
  border-top-style: dotted;
  width: 7%;
}
/*  e4fbffb8b5ff7868e6edeef7 
#E4FBFF
#B8B5FF
#7868E6
#EDEEF7 */
